<template>
  <div>
      <input :type="type" :value='values' @input="inputBlur">
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop } from 'vue-property-decorator';
@Component
export default class Kinput extends Vue {
    name = 'input'

    values = ''

    @Prop() type: any

    inputBlur(e: any) {
      // console.log(e);
      this.$emit('input', e.target.value);
    }
}
</script>

<style scoped>
</style>
