<template>
  <div class="about">
    <p>{{value}}</p>
    <kinput @input="value = arguments[0]" type="password"></kinput>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop } from 'vue-property-decorator';
import kinput from '@/components/about/kinput.vue';
@Component({
  components: {
    kinput,
  },
})
export default class About extends Vue {
    name = 'about'

    value = ''

    type = ''
}
</script>

<style lang="scss" scoped>

</style>
