<template>
  <div class="home">
    <div>
      <h2>开课吧-购物车</h2>
    </div>
    <hr />
    <div>
      <h3>添加课程</h3>
      课程名称：
      <input type="text" v-model="courseItem.name" name placeholder="请填写课程名" id />
      课程价格：
      <input type="number" v-model="courseItem.price" name placeholder="请输入课程价格" id />
      <input type="button" @click="addCourse" value="添加到课程列表" />
    </div>
    <hr />
    <div>
      <h3>课程列表</h3>
      <table style="margin:0 auto">
        <tr>
          <th>课程名</th>
          <th>课程价格</th>
          <th>操作</th>
        </tr>
        <tr v-for="(item,index) in courseList" :key="item.id">
          <td>{{item.name}}</td>
          <td>{{item.price}}</td>
          <td>
            <button @click="addShopping(index)">添加到购物车</button>
          </td>
        </tr>
      </table>
    </div>
    <hr>
    <shopping :courseInfo='courseInfo'></shopping>
  </div>
</template>
<script lang="ts">

// @ is an alias to /src
// import HelloWorld from '@/components/HelloWorld.vue'、
import { Vue, Component } from 'vue-property-decorator';
import shopping from '@/components/home/shopping.vue';
@Component({
  components: {
    shopping,
  },
})
export default class Home extends Vue {
  public name = 'home'

  public courseList = [{ id: 1, name: 'javascript', price: 8999 }]

  public courseItem = { name: '', price: 0 }

  public courseInfo = []

  public courseId = 1

  addCourse() {
    this.courseId += 1;
    this.courseList.push({ ...this.courseItem, id: this.courseId });
  }

  addShopping(index: number) {
    const isHavecourse = (this.courseInfo as any).find(
      (item: any) => item.id === this.courseList[index].id,
    );
    if (isHavecourse) {
      isHavecourse.number += 1;
      return;
    }

    (this.courseInfo as any).push({ ...this.courseList[index], number: 1, active: true });
  }
}

</script>
