<template>
  <div class="Shopping">
      <h3>{{name}}</h3>
      <table style="margin:0 auto">
          <tr>
              <th>勾选</th>
              <th>课程名</th>
              <th>课程价格</th>
              <th>数量</th>
              <th>总价</th>
          </tr>
          <tr v-for="item in courseInfo" :key="item.id">
              <td>
                  <input type="checkbox" v-model="item.active" name="" id="">
              </td>
              <td>{{item.name}}</td>
              <td>{{item.price}}</td>
              <td>{{item.number}}</td>
              <td>{{item.number*item.price}}</td>
          </tr>
          <tr>
              <td>总计</td>
              <td>{{allPrice}}</td>
          </tr>
      </table>
    </div>
</template>
<script lang="ts">
import { Vue, Component, Prop } from 'vue-property-decorator';
@Component
export default class Shopping extends Vue {
  public name = '购物车'

  @Prop() public courseInfo!: any

  created() {
    console.log(this.courseInfo);
  }

  get allPrice() {
    let allPrice = 0;
    this.courseInfo.forEach((item: any) => {
      allPrice += item.number * item.price;
    });
    return allPrice;
  }
}
</script>
